#left{
    float: left;
}

#OsDiv
{
    position: fixed;
    left : 35%;
    clear : left;
}
#right{
    position: absolute;
    top:0;
    right:0;
    float: right;
}

#bottom {
    position: absolute;
    bottom: 0;
    float:left
}
#bottomTop {
    position:relative;
    top:0;
}

#bottomright
{
    position: absolute;
    bottom: 0;
    right: 0;
    float :right;

}